#home,
#graf,
#about {
    margin-top: 10%;
}

img {
    border-radius: 50%;
}

#search:focus {
    border-bottom: 1px solid #ffa000 !important;
}

#tabel {
    margin-top: 50px;
}

#clear {
    position: absolute;
    right: 50%;
    margin-top: 10px;
}
button {
     display: none;
     position: fixed;
     right: 2%;
     bottom: 10%;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border: none;
     background-color: #767c80;
     color: white;
 }
button:hover {
    background-color: #ffa000;
}

#data {
    margin-top: 10%;
}
